/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
     font-family: Minecraftia;
     src: url("../fonts/minecraftia/Minecraftia.ttf");
}

.myteal{
	color: #48b7a4;
}

.twerk{
    display: block;
    margin: auto;
    width: 40%;
}

.profilepic{
	size: 100%;
	max-height: 200px;
	float: right;
	margin: auto;
}

.gif{
	size: 100%;
	max-height: 200px;
	margin: auto;
	float: right;
	padding-left: 40px;
}

.twerkbg{
	background-image: url("../images/twerkbg.png");
	background-size: 100%;
}

.bluebg{
	background-color: ;
}

.yellowbg{
	background-color: #fff52a;
}

.contentpage{
	border: 2px;
	border-style: solid;
	padding: 25px;
	background-color: white;
	margin-top: 30px;
	box-shadow: 10px 10px 0px;
}

.tagline{
	text-align: center;
	font-family: Roboto;
	font-style: italic;
	font-size: 30px;
	font-weight: 300;
	color: black;
}

.markerpink {
	background-color: #EB92BA;
	color: white;
	margin-bottom: 3px;
}

.markerwhite {
	background-color: white;
	margin-bottom: 3px;
}

.markerblack {
	background-color: black;
	color: white;
	margin-bottom: 3px;
}

.logo{
	font-family: Minecraftia;
	color: #fff52a;
	text-decoration: underline;
	font-size: 14px;
}

.mininav {
	font-size: 18px;
}

.input-field.col label{
	color: black; 
	border-bottom-color: yellow;
}

.card {
	border-color: black;
	border: 2px;
	border-style: solid;
	box-shadow: 10px 10px 0px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
	color: black;
}

.card .card-title{
	font-family: Roboto;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff52a;
	background-color: black;
	font-size: 18px;
}

.card .card-action {
	border-top-color: black;
	border-top-style: solid; 
	border-top-width: medium;
	background-color: #fff52a;
	color: black;
	text-align: center;
	font-family: Roboto;
	font-weight: 500;
}

.mybutton{
	font-family: Roboto;
	font-weight: 300;
	color: black;
	background-color: white;
	border-color: black;
	border: 3px;
	border-style: solid;
	box-shadow: 10px 10px 0px;

	text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.mybuttonbg {
	font-family: Roboto;
	font-weight: 300;
	color: black;
	background-color: white;
	border-color: black;
	border: 3px;
	border-style: solid;
	box-shadow: 10px 10px 0px;

	text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
}

.buttonactive{
	font-family: Roboto;
	font-weight: 300;
	color: black;
	background-color: #48b7a4;
	border-color: black;
	border: 3px;
	border-style: solid;
	box-shadow: 10px 10px 0px;

	text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#index-banner {
	background-color: pink;
	background-size: 100%;
}

.displayinline {
	display: inline;
	background-color: #fff52a;
}

.underline{
	text-decoration: underline;
}

.navigation {
	border-color: black;
	border: 2px;
	border-style: solid;
	box-shadow: 10px 10px 0px;
	font-size: 30px;
}

.headerfont {
	font-family: Minecraftia;
	color: #fff52a;
	text-decoration: underline;
}




