doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Members
    style
      include ../public/css/materialize.css
      include ../public/css/style.css
    script
      include ../jquery-3.2.1.min.js
  body.yellowbg
    #index-banner.section.no-pad-bot
      .container
        a.headerfont(href='/') BACK
        .row.center.mininav
          a.mybutton.sml(href='/about') ABOUT
          a.mybutton.sml(href.bg='/story') ALL STORIES
          a.mybutton.activeb.sml(href='/members') BROWSE MEMBERS
          a.mybutton.sml(href='/submit') BECOME A PART OF THIS
      br
    // CARDS BEGIN
    .container
      .row.contentpage
        .col.s12
          h4.underline.myteal Check out the cool kids on the guestlist:
          ul
            li Valerie Fuchs
            li Marie Trechow
            li Anton Sjolander
        // closing col
      // closing row
    // closing container
    // Scripts
script
  include ../public/js/materialize.js
  include ../public/js/init.js
