doctype html
html
head
    #index-banner.section.no-pad-bot
      .container
        a.headerfont(href='/') BACK
        .row.center.mininav
          a.mybutton.sml(href='/about') ABOUT
          a.mybutton.sml(href='/story') ALL STORIES
          a.mybutton.sml(href='/members') BROWSE MEMBERS
          a.mybutton.activeb.sml(href='/submit') BECOME A PART OF THIS
      br