doctype html
html
	head
		link(href="css/materialize.css" rel='stylesheet')
		link(href="css/style.css" rel='stylesheet')
		script(src="js/jquery-3.2.1.min.js")
	body
		script(src='js/materialize.js')
		script(src='js/init')