doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    include references.pug
    title Become A Part Of This
  body.yellowbg
    include navigation.pug
    .container.contentpage.submit
      img.gif(src='images/twerk.gif')
      h4#formhl.underline.myteal YESS, you want to help us and share your wisdom!
      h5#formcopy
        | Well in that case, please fill in this form. Your interview will go live after a short review. Thanks a million!
      br
      .row
        form.col.s12(action='/submit', method='POST', autocomplete='off' id='form')
          .row
            .input-field.col.s6
              input#name.validate(type='text', name='name')
              label(for='name') Your Name
          .row
            .input-field.col.s12
              input#email.validate(type='text', name='email')
              label(for='email') E-Mail or LinkedIn (only needed for potential follow-up questions)
          .row
            .input-field.col.s12
              textarea#coding.materialize-textarea(name='coding')
              label(for='coding') How did you get into coding? When did you start and what was your motivation?
          .row
            .input-field.col.s12
              textarea#jobinfo.materialize-textarea(name='jobinfo')
              label(for='jobinfo') What is your job about? Please include title and, if you like, company name.
          .row
            .input-field.col.s12
              textarea#daytoday.materialize-textarea(name='daytoday')
              label(for='daytoday')
                | What are you working on, on a day to day basis? Please include languages, libraries and tools.
          .row
            .input-field.col.s12
              textarea#project.materialize-textarea(name='project')
              label(for='project') Can you tell us about a current project at work?
          .row
            .input-field.col.s12
              textarea#tipps.materialize-textarea(name='tipps')
              label(for='tipps')
                | Let's say I wanted to get into your job.. Do you have any links, tipps or learnings on how to get started?
          .row
            .input-field.col.s12
              input#picture.validate(type='text', name='picture')
              label(for='picture')
                | If you would like us to include a picture in your interview, please share an URL here.
              input#submit.mybutton(type='submit', value="Submit form")
      form.col.s12(id='storypage', action='/story', method='POST')
        input#seepreview.mybutton(type='submit', value="See preview")

    // closing container 
    script.
      $('#seepreview').hide();
      $('#submit').on('mouseenter', function() {
        $(this).css("background-color", "yellow");
      });
      $('#submit').on('mouseleave', function() {
        $(this).css("background-color", "white");
      });
      $('#submit').click(function() {
        $('#form').hide();
        $('#formhl').text('Thanks a million babe!');
        $('#formcopy').hide();
        $('#seepreview').show();
      });

      $('#seepreview').click(function(event){
        event.preventDefault();
        var name = $('#name').val();
        $('<input>').attr({
          type: 'hidden',
          name: 'username',
          value: name
        }).appendTo('#storypage');
        $('#storypage').submit();
      })
      
    script(src='js/materialize.js')
    script(src='js/init')
