doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title About
    style
      include ../public/css/materialize.css
      include ../public/css/style.css
    script
      include ../jquery-3.2.1.min.js
  body.yellowbg
    #index-banner.section.no-pad-bot
      .container
        a.headerfont(href='/') BACK
        .row.center.mininav
          a.mybutton.active.sml(href='/about') ABOUT
          a.mybutton.sml(href='/story') ALL STORIES
          a.mybutton.sml(href='/members') BROWSE MEMBERS
          a.mybutton.sml(href='/submit') BECOME A PART OF THIS
      br
    // CARDS BEGIN
    .container
      .row.contentpage
        .col.s12
          h4.underline.myteal You are amazing, thanks a million.
          h5 Your wisdom has been submitted.
          h5 If you want to get in touch about any questions or just to say hi, don't hesitate to ping me at i@twerkincode.com.  
        // closing col
      // closing row
    // closing container
    script
      include ../public/js/materialize.js
      include ../public/js/init.js

