doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Stories
    style
      include ../../public/css/materialize.css
      include ../../public/css/style.css
    script
      include ../../jquery-3.2.1.min.js
  body.yellowbg
    #index-banner.section.no-pad-bot
      .container
        a.headerfont(href='/') BACK
        .row.center.mininav
          a.mybutton(href='/about') ABOUT
          a.buttonactive(href='/story') ALL STORIES
          a.mybutton(href='/members') BROWSE MEMBERS
          a.mybutton(href='/submit') BECOME A PART OF THIS
      br
    // CARDS BEGIN
    .container
      .row.contentpage
        .col.s12
          img.profilepic(src='images/Marie.jpg')
          h4.underline.myteal Marie Treschow, Backend Intern at MOBGEN
          br
          h5 How did you get into coding?
          p.flow-text
            | I graduated from a business degree, but really didn't feel like that would be my dream profession. I wanted to learn something more 'hands on', and was thus deciding between Hyper Island or New York Code and Design academy. I eventually decided for NYCDA, because it seemed to be more tangible what you learn.
          h5 What is your current job about?
          p.flow-text
            | 4 months ago, I started an internship at MOBGEN, a digital consultancy with inhouse production. I am part of the back-end team, and learn shitloads of new things every day.
          h5 What are your daily tasks?
          p.flow-text
            | 4 months ago, I started an internship at MOBGEN, a digital consultancy with inhouse production. I am part of the back-end team, and learn shitloads of new things every day.
          h5 Can you tell us about a project you are working on?
          p.flow-text
            | 4 months ago, I started an internship at MOBGEN, a digital consultancy with inhouse production. I am part of the back-end team, and learn shitloads of new things every day.
          h5
            | Let's say I wanted to get into your job.. Do you have any links, tipps or learnings on how to get started?
          p.flow-text
            | 4 months ago, I started an internship at MOBGEN, a digital consultancy with inhouse production. I am part of the back-end team, and learn shitloads of new things every day.
        // closing col
      // closing row
    // closing container
    // Scripts
    script
      include ../../public/js/materialize.js
      include ../../public/js/init.js
